<div>{{value}}</div>

<div>3 is even? {{isEven(3) | async}}</div>
<div>4 is even? {{isEven(4) | async}}</div>
<div>5 is odd? {{isOdd(5) | async}}</div>
<div>6 is odd? {{isOdd(6) | async}}</div>
<div>3 is prime? {{isPrimeNumber(3) | async}}</div>
<div>4 is prime? {{isPrimeNumber(4) | async}}</div>
<div>5 is prime? {{isPrimeNumber(5) | async}}</div>
<div>6 is prime? {{isPrimeNumber(6) | async}}</div>
<div>7 is prime? {{isPrimeNumber(7) | async}}</div>

<div *ngFor="let prime of primeRangeList(0,99999) | async">
    {{prime}}
</div>